# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de configuración de editores de código (como VS Code)
.vscode/
.idea/

# Logs de errores
*.log

# En caso de que uses algún paquete en el futuro (opcional)
node_modules/
